@import "../../styles/variables";
@import "../../styles/mixins";

$TextArea: 'TextArea';

.#{$TextArea} {

  &__input {
    border: 1px solid $color-default;
    border-radius: $base-border-radius;
    color: $color-down-river;
    display: block;
    font-family: $base-font-family;
    font-size: 14px;
    line-height: 16px;
    padding: 13px 16px;
    resize: none;
    transition: border-color $base-duration $base-timing, box-shadow $base-duration $base-timing;
    width: 100%;

    &::placeholder {
      color: $color-cadet-blue;
    }

    &:focus {
      border-color: $color-azure;
      box-shadow: 0px 0px 0px 1px $color-azure;
      outline: none;
    }

    &:hover {
      border-color: shade($base-border-color, 20%);
    }

    &:global {
      &.is-disabled {
        background-color: $color-disabled;
        cursor: not-allowed;

        &:focus {
          border-color: $color-default;
          box-shadow: 0px 0px 0px 1px $color-disabled;
        }

        &:hover {
          border-color: $color-default;
        }

        &::placeholder {
          color: $color-cadet-blue;
        }
      }

      &.is-invalid {
        border-color: $color-danger;

        &:focus {
          box-shadow: 0px 0px 0px 1px $color-danger;
        }
      }

      &.is-valid {
        border-color: $color-success;

        &:focus {
          box-shadow: 0px 0px 0px 1px $color-success;
        }
      }

      &.is-alert {
        border-color: $color-alert;

        &:focus {
          box-shadow: 0px 0px 0px 1px $color-alert;
        }
      }
    }
  }
}
