$_button-background-color: $action-color;
$_button-background-color-hover: shade($action-color, 20%);

#{$all-buttons} {
  appearance: none;
  background-color: $_button-background-color;
  border-width: 1px;
  border-style: solid;
  border-radius: $base-border-radius;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing, border-color $base-duration $base-timing, color $base-duration $base-timing, box-shadow $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background-color: $_button-background-color-hover;
    color: contrast-switch($_button-background-color-hover);
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  &:disabled {
    background-color: $color-disabled;
    color: $color-cadet-blue;
    cursor: not-allowed;


    &:hover {
      background-color: $_button-background-color;
    }
  }
}
