legend {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
  padding: 0;
}



#{$all-text-inputs} {
  // -webkit-appearance: none;
  // background-color: $_form-background-color;
  // border: $base-border;
  // border-radius: $base-border-radius;
  // box-sizing: border-box;
  // padding: 15px 16px;
  // transition: border-color $base-duration $base-timing, box-shadow $base-duration $base-timing;
  // width: 100%;

  // &:hover {
  //   border-color: shade($base-border-color, 20%);
  // }

  // &:focus {
  //   border-color: $action-color;
  //   box-shadow: $_form-box-shadow;
  //   outline: none;
  // }

  // &:disabled {
  //   background-color: $color-grey;
  //   cursor: not-allowed;

  //   &:focus {
  //     border: $base-border;
  //   }

  //   &::placeholder {
  //     color: $color-cadet-blue;
  //   }
  // }

  // &::placeholder {
  //   color: $color-cadet-blue;
  // }
}


[type="checkbox"] {
  -webkit-appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;

}

[type="checkbox"],
[type="radio"] {
  display: inline-block;
  margin-right: $small-spacing / 2;
  width: auto;
}

[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $small-spacing;
  width: 100%;
}

[type="checkbox"],
[type="radio"],
[type="file"],
select {
  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
}
