html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  font-size: 14px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  padding-bottom: $footer-padding;
  min-height: 100%;
  position: relative;
}

