// Typography
$base-font-family: 'Lato', sans-serif;
$heading-font-family: $base-font-family;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 4px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$footer-padding: 114px;

// Colors
$white: #fff;

$color-disabled: #F1F2F4;
$color-regent-grey: #8A94A6;

$color-down-river: #0A1F44;
$color-cadet-blue: #A6AEBC;
$color-azure: #007FFF;
$color-link: #53627C;
$color-denim: #0D55CF;
$color-athens-grey: #F8F9FB;
$color-nile-blue: #182C4F;

$color-unchecked: #C9CED6;


$color-danger: #F03D3D;
$color-primary: #0C66FF;
$color-alert: #FFAD0D;
$color-success: #0BB07B;
$color-default: #E1E4E8;
$color-default-1: #758196;

// Font Colors
$base-font-color: $color-down-river;
$action-color: $color-primary;

// Border
$base-border-color: $color-default;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: #fff;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 0px;
$focus-outline: none;
$focus-outline-offset: 0px;

// Animations
$base-duration: 150ms;
$base-timing: ease;


//Label
$base-label-color: #53627C;

//Form
$_form-background-color: $white;
$_form-box-shadow: 0px 0px 0px 1px rgba(0, 127, 255, 1);
$_form-box-shadow-focus: $_form-box-shadow, 0 0 5px rgba($action-color, 0.7);

//Button
$_button-background-color: $action-color;
$_button-background-color-hover: shade($action-color, 20%);

$bourbon: (
  "modular-scale-ratio": 1.25,
);
