// Typography
$base-font-family: 'Lato', sans-serif;
$heading-font-family: $base-font-family;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 4px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$white: #fff;
$color-grey: #F1F2F4;
$color-default: #E1E4E8;
$color-down-river: #0A1F44;
$color-cadet-blue: #A6AEBC;
$color-azure: #007FFF;
$color-success: #0BB07B;
$color-bayoux: #53627C;
$color-danger: #F03D3D;
$color-primary: #0C66FF;
$color-alert: #FFAD0D;
$color-ghost: #C9CED6;
$color-denim: #0D55CF;


// Font Colors
$base-font-color: $color-down-river;
$action-color: $color-azure;

// Border
$base-border-color: $color-default;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: #fff;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 0px;
$focus-outline: none;
$focus-outline-offset: 0px;

// Animations
$base-duration: 150ms;
$base-timing: ease;


//Label
$base-label-color: $color-bayoux;
