@import "../../styles/variables";
@import "../../styles/mixins";

$Radio: 'Radio';

.#{$Radio} {

  &:focus {
    outline: 0;
    box-shadow: none;
  }

  &:global {
    &.is-active {
    }

    &.is-checked {
    }

    &.is-disabled {
      label {
        cursor: not-allowed;
      }
    }

    &.is-invalid {
      & :local {
        .#{$Radio}__placeholder {
          color: $color-danger;
        }
      }
    }

    &.is-unchecked {

    }
  }

  label {
    cursor: pointer;

    &:focus {
      outline: 0;
      box-shadow: none;
    }

    &:hover {
      .Radio__icon {
        border-color: $color-primary;
      }
    }
  }

  &__icon {
    display: inline-block;

    &:global {
      &.is-default-icon {
        border-radius: 50%;
        width: 18px;
        height: 18px;
        border: 2px solid black;
        vertical-align: middle;
        position: relative;
        transition: border-color $base-duration $base-timing, background-color $base-duration $base-timing;

        &:after {
          content: '';
          position: absolute;
          height: 8px;
          width: 8px;
          background-color: transparent;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &:hover {
          border-color: $color-default;
        }

        &.is-checked {
          background-color: $white;
          border-color: $color-primary;

          &:after {
            background-color: $color-primary;
          }
        }

        &.is-unchecked {
          background-color: $white;
          border-color: $color-ghost;
        }

        &.is-disabled {
          background-color: $white;
          border-color: $color-default !important;
          cursor: not-allowed;

          &:after {
            background-color: $color-default;
          }

          &:hover {
            border-color: $color-default;
          }
        }
      }

      &.is-custom-icon {
        &.is-checked {
          background-color: black;
        }

        &.is-unchecked {
          background-color: white;
        }
      }
    }
  }

  &__input {
    display: inline-block;
    vertical-align: middle;

    &:focus {
      outline: 0;
      box-shadow: none;
    }

  }

  &__placeholder {
    color: $color-bayoux;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 18px;
    padding-left: 13px;
  }
}
