//Lars Regular
@font-face {
  font-family: 'Lars-Regular';
  src: url(../../fonts/lars-regular/Lars-Regular.eot);
  // src: url(../../fonts/lars-regular/Lars-Regular.otf) format('opentype');
  src: url(../../fonts/lars-regular/Lars-Regular.woff) format('woff'),
      url(../../fonts/lars-regular/Lars-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

//DomaineRegular
@font-face {
  font-family: 'Domaine-Regular';
  src: url(../../fonts/domaine-regular/DomaineTextWeb-Regular.eot);
  // src: url(../../fonts/domaine-regular/DomaineText-Regular.otf) format('opentype');
  src: url(../../fonts/domaine-regular/DomaineTextWeb-Regular.woff) format('woff'),
      url(../../fonts/domaine-regular/DomaineTextWeb-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

//DomaineRegularItalic
@font-face {
  font-family: 'Domaine-RegularItalic';
  src: url(../../fonts/domaine-regular-italic/DomaineTextWeb-RegularItalic.eot);
  // src: url(../../fonts/domaine-regular-italic/DomaineText-RegularItalic.otf) format('opentype');
  src: url(../../fonts/domaine-regular-italic/DomaineTextWeb-RegularItalic.woff) format('woff'),
      url(../../fonts/domaine-regular-italic/DomaineTextWeb-RegularItalic.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}


//DomaineLight
@font-face {
  font-family: 'Domaine-Light';
  src: url(../../fonts/domaine-light/DomaineTextWeb-Light.eot);
  // src: url(../../fonts/domaine-light/DomaineText-Light.otf) format('opentype');
  src: url(../../fonts/domaine-light/DomaineTextWeb-Light.woff) format('woff'),
      url(../../fonts/domaine-light/DomaineTextWeb-Light.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

//DomaineLightItalic
@font-face {
  font-family: 'Domaine-LightItalic';
  src: url(../../fonts/domaine-light-italic/DomaineTextWeb-LightItalic.eot);
  // src: url(../../fonts/domaine-light-italic/DomaineText-LightItalic.otf) format('opentype');
  src: url(../../fonts/domaine-light-italic/DomaineTextWeb-LightItalic.woff) format('woff'),
      url(../../fonts/domaine-light-italic/DomaineTextWeb-LightItalic.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}





