@import "../../styles/variables";
@import "../../styles/mixins";

$Checkbox: 'Checkbox';

.#{$Checkbox} {
  cursor: pointer;

  &:focus {
    outline: 0;
    box-shadow: none;
  }

  &:global {
    &.is-active {
      box-shadow: none;
      outline: 0;
    }

    &.is-disabled {
      label {
        cursor: not-allowed;
      }
    }

    &.is-invalid {
      & :local {
        .#{$Checkbox}__placeholder {
          color: $color-danger;
        }
      }
    }

    &.is-unchecked {
    }

    &.is-checked {
    }

  }

  label {
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;

    &:hover {
      .#{$Checkbox}__icon {
        border-color: $color-primary;
      }
    }

    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;

    &:global {
      &.is-default-icon {
        width: 18px;
        height: 18px;
        border: 2px solid $color-primary;
        border-radius: 3px;
        position: relative;
        transition: border-color $base-duration $base-timing, background-color $base-duration $base-timing;

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 4px;
          left: 3px;
          width: 9px;
          height: 5px;
          border: 2px solid transparent;
          border-top-style: none;
          border-right-style: none;
          transform: rotate(-45deg);
        }

        &:hover {
          background-color: $white;
          border-color: $color-primary;
        }

        &.is-checked {
          background-color: $color-primary;

          &:after {
            border-color: $white;
          }
        }

        &.is-unchecked {
          background-color: $white;
          border-color: $color-ghost;
        }

        &.is-disabled {
          background-color: $white;
          border-color: $color-default !important;
          cursor: not-allowed;

          &:after {
            background-color: $color-default;
            border: 0;
            height: 2px;
            width: 8px;
            transform: rotate(0) translate(-50%, -50%);
            top: 50%;
            left: 50%;
          }

          &:hover {
            background-color: $white;
            border-color: $color-default;
          }
        }
      }

      &.is-custom-icon {
        &.is-checked {
          background-color: black;
          color: white;
        }

        &.is-unchecked {
          background-color: $white;
          border-color: $color-ghost;
        }


      }
    }
  }

  &__input {
    display: inline-block;
    vertical-align: middle;


    &:focus {
      box-shadow: none;
      outline: 0;
    }
  }

  &__placeholder {
    color: $color-bayoux;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 18px;
    padding-left: 13px;
  }
}
