// @import "../../stylesheets/variables";
// @import "../../stylesheets/mixins";

$footer: 'footer';

.#{$footer} {
  background: red;
  display: flex;

  &__minion {
    background: url(./minion2.jpeg) no-repeat;
    height: 100px;
    width: 100px;
  }
}
