@import "../../stylesheets/common";
// @import "../../stylesheets/variables";
// @import "../../stylesheets/mixins";

.app {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__container {
    flex: 1 0 auto;
  }
}
