//.caption{
//  padding-left: 95px;
//  font-size: 10px;
//  line-height: 13px;
//  color: $color-tundora;
//  font-family: 'montserratlight';
//
//  button{
//    height: auto;
//    text-transform: none;
//    color: $color-havelock-blue;
//    background: none;
//    padding: 0;
//    border: none;
//    border-radius: 0;
//    line-height: 13px;
//  }
//}