
$input: 'input';

.#{$input} {
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
  position: relative;
  box-shadow: none !important;
  text-align: center;
}
