@import "../../styles/variables";
@import "../../styles/mixins";

$App: 'App';

.#{$App} {
  display: flex;
  flex-direction: column;
  height: 100%;


  &__container {
    flex: 1 0 auto;
    max-width: 1072px;
    padding: 0 24px;
    margin: 48px auto 0;
    width: 100%;
  }
}
