@import "../../styles/variables";
@import "../../styles/mixins";

$TextField: 'TextField';

.#{$TextField} {

  &:global {
    &.is-active {
    }

    &.is-disabled {
      // opacity: 0.3;
    }

    &.is-invalid {
      border-color: $color-danger;
    }

    &.is-empty {
    }

    &.is-not-empty {
    }

    &.is-valid {


      input {
        border-color: $color-success;

        &:focus {
          box-shadow: 0px 0px 0px 1px $color-success;
        }
      }
    }

    &.is-invalid {
      input {
        border-color: $color-danger;

        &:focus {
          box-shadow: 0px 0px 0px 1px $color-danger;
        }
      }
    }
  }

  &__input {
  }
}
