@import "../../styles/variables";
@import "../../styles/mixins";

$TextField: 'TextField';

.#{$TextField} {

  &:global {

    & > input {
      display: block;
      font-family: $base-font-family;
      font-size: 14px;
      -webkit-appearance: none;
      background-color: $_form-background-color;
      border: $base-border;
      border-radius: $base-border-radius;
      box-sizing: border-box;
      padding: 15px 16px;
      transition: border-color $base-duration $base-timing, box-shadow $base-duration $base-timing;
      width: 100%;

      &:hover {
        border-color: shade($base-border-color, 20%);
      }

      &:focus {
        border-color: $action-color;
        box-shadow: $_form-box-shadow;
        outline: none;
      }

      &:disabled {
        background-color: $color-grey;
        cursor: not-allowed;

        &:focus {
          border: $base-border;
        }

        &::placeholder {
          color: $color-cadet-blue;
        }
      }

      &:-webkit-autofill {
        background-color: $white !important;
      }
    }

    &.is-active {
    }


    &.is-invalid {
      border-color: $color-danger;
    }

    &.is-empty {
    }

    &.is-not-empty {
    }

    &.is-valid {


      input {
        border-color: $color-success;

        &:focus {
          box-shadow: 0px 0px 0px 1px $color-success;
        }
      }
    }

    &.is-invalid {
      input {
        border-color: $color-danger;

        &:focus {
          box-shadow: 0px 0px 0px 1px $color-danger;
        }
      }
    }
  }

  &__input {
  }
}
