@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

$header: 'header';

.#{$header} {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  background-color: $color-white;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.50);
  padding: 10px 0;
}
