@use 'sass:math';
@import '../../styles/variables';
@import '../../styles/mixins';

.header {
  padding: 16px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;

  &__container {
    padding: 0 15px;
    margin: 0 auto;
    // just to check that new math operation works
    max-width: math.div(1140px * 2, 2);
    width: math.div(100% * 2, 2);
    text-align: right;

    @include media('<=phone') {
      background: #ddd;
    }

    @include media('>phone', '<=desktop') {
      background: #ccc;
    }
  }

  &__link {
    color: blue;
    font-size: 13px;
    line-height: 15px;
    padding: 8px 16px;
    font-weight: 500;
    text-decoration: none;

    &:focus {
      outline: 0;
      outline-offset: 0;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }
}
