// ==========================================================================
// Variables: Colors
// ==========================================================================

// white
$color-white: #FFFFFF !default;

// black
$color-black: #000000 !default;
$color-mine-shaft: #343434 !default;
$color-black-mirage: #1D2838 !default;

// red
$color-flamingo: #ff0000 !default;


// silver
$color-silver-light: #d2d2d2 !default;
$color-gray-chateau: #A4A5A6 !default;
$color-grey-alto: #D8D8D8 !default;
$color-grey-gallery: #EAEAEA !default;
$color-grey-haze: #F6F7F7 !default;

//blue
$color-blue-comet: #56657A !default;
$color-blue-bombay: #B4BAC2 !default;
$color-mirage: #1e283a !default;
$color-azure-radiance: #0076FF !default;


//green
$color-green-acapulco: #78AD9E !default;
