@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

$container: 'container';

.#{$container} {
  max-width: 1024px;
  padding: 0 27px;
  margin: 0 auto;
  width: 100%;

  @include breakpoint ('phone-max') {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  @include breakpoint ('phone') {
    max-width: 320px;

  }
}
