@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

$footer: 'footer';

.#{$footer} {
  background-repeat: repeat-x;
  background-position: 50% 50%;
  background-color: $color-mirage;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  color: $color-white;
  flex-direction: column;
  max-width: 100%;
  padding: 10px 0;
  text-align: center;
}
