@import "../../styles/variables";
@import "../../styles/mixins";

$footer: 'footer';

.#{$footer} {
  &__container {
    color: blue;
    font-size: 15px;
    line-height: 17px;
    padding: 0 15px;
    margin: 48px auto;
    max-width: 1140px;
    width: 100%;
  }

  &__icons {
    display: flex;
    align-items: center;
  }

  &__svg-bg {
    display: block;
    width: 14px;
    height: 18px;
    margin-left: 20px;
    background: url('../../assets/icons/arrow_down.svg') no-repeat;
    background-size: contain;
  }
}
