@import "../../styles/variables";
@import "../../styles/mixins";

$Footer: 'Footer';

.#{$Footer} {

  &__container {
    color: blue;
    font-size: 15px;
    line-height: 17px;
    padding: 0 15px;
    margin: 48px auto;
    max-width: 1140px;
    width: 100%;
  }
}
