@import "../../styles/variables";
@import "../../styles/mixins";

$FormFieldError: 'FormFieldError';

.#{$FormFieldError} {
  &:global {
    &.is-error {
      color: red;
    }

    &.is-warning {
      color: orange;
    }
  }
}
