@import "../../styles/variables";
@import "../../styles/mixins";

$FormFieldError: 'FormFieldError';

.#{$FormFieldError} {
  &:global {
    &.is-error {
      /* Shadow: */
      background-color: $white;
      box-shadow: 0 0 1px 0 rgba(10,31,68,0.08), 0 3px 4px 0 rgba(10,31,68,0.10);
      border-radius: $base-border-radius;
      color: $color-danger;
      font-size: 12px;
      line-height: 16px;
      padding: 8px 13px;
      position: relative;
      top: 1px;
    }

    &.is-warning {
      color: orange;
    }
  }
}
