@import "../../styles/variables";
@import "../../styles/mixins";

$DropDown: 'dropdown';
.#{$DropDown} {
  display: inline-block;
  position: relative;
  min-width: 150px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #ccc;
  &--is-open {
    border-color: firebrick;
  }
  &__trigger {
    padding: 0 10px;
    display: inline-block;
  }
  &__menu {
    width: 100%;
    background: #fff;
    list-style: none;
    z-index: 10;
    max-height: 300px;
    overflow: auto;
    border: 1px solid #ccc;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    &--is-open {
      display: block;
    }
    &-item {
      cursor: pointer;
    }
  }
}