@import "../../styles/variables";
@import "../../styles/mixins";

$Dropdown: 'Dropdown';
.#{$Dropdown} {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  &:focus {
    outline: 0;
    outline-offset: 0;
  }
  &__default_button {
    background-color: $white;
    border: 1px solid $color-default;
    border-radius: 4px;
    color: $color-down-river;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    padding: $small-spacing $base-spacing;
    padding-right: 2.86em;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      margin: auto;
      right: 17px;
      width: 9px;
      height: 9px;
      transform: rotate(225deg) translateY(-50%);
      border-top: 2px solid $color-nile-blue;
      border-left: 2px solid $color-nile-blue;
    }

    &:hover {
      border-color: shade($base-border-color, 20%);
    }

    &:global {
      &.is-open {
        border-color: $color-azure;
        outline: $focus-outline;
        outline-offset: $focus-outline-offset;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);

        &:after {
          transform: rotate(45deg) translateY(-50%);
        }
      }

      //Size
      &.is-full-width {
        width: 100%;
      }

      &.is-size-small {
        font-size: 10px;
      }

      &.is-size-medium {
        font-size: 14px;
      }

      &.is-size-large {
        font-size: 16px;
      }
    }
  }

  &__button {
    &:focus {
      outline: $focus-outline;
      outline-offset: $focus-outline-offset;
    }
  }

  &__list {
    width: 100%;
    background: $white;
    box-shadow: 0 0 1px 0 rgba(10,31,68,0.08), 0 3px 4px 0 rgba(10,31,68,0.10);
    border-radius: $base-border-radius;
    list-style: none;
    z-index: 10;
    max-height: 300px;
    overflow: auto;
    font-size: 14px;
    line-height: 1;
    border: 1px solid $color-default;
    position: absolute;
    text-align: left;
    z-index: 100;


    &:global {

      &.is-bl {
        top: 100%;
        left: 0;
      }

      &.is-br {
        top: 100%;
        right: 0;
      }

      &.is-tl {
        bottom: 100%;
        left: 0;
        right: auto;
      }

      &.is-tr {
        bottom: 100%;
        right: 0;
      }
    }
  }

  &__item {
    background-color: $white;
    border-bottom: 1px solid $white;
    color: $color-link;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
    padding: $small-spacing $base-spacing;
    transition: background-color $base-duration $base-timing, border-bottom-color $base-duration $base-timing;

    &:hover,
    &:focus {
      background-color: $color-athens-grey;
      border-bottom-color: $color-disabled;
    }
  }

}
