@import "../../styles/variables";
@import "../../styles/mixins";

$FormFieldLabel: 'FormFieldLabel';

.#{$FormFieldLabel} {

  &:global {
    color: $base-label-color;
    font-size: 12px;
    line-height: 16px;
    text-transform: capitalize;
    margin-bottom: 6px;

    &.is-invalid {
      color: $color-danger;
    }

    &.is-disabled {
      color: $color-cadet-blue;
    }
  }
}
