@import '../../styles/variables';
@import '../../styles/mixins';

$sign-in-form: 'sign-in-form';

.#{$sign-in-form} {
  position: relative;

  &__container {
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.1), 0 18px 18px 0 rgba(10, 31, 68, 0.12);
    padding: 56px 80px 80px;
    margin: 20px auto;
    max-width: 464px;
    width: 100%;
  }

  &__header {
    text-align: center;
    margin-bottom: 5em;
  }

  &__ttl {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.5px;
    margin: 0 0 0.4em;
  }

  &__account-text {
    font-size: 13px;
    line-height: 16px;
    padding: 0 15px 0 0;
  }

  &__link {
    text-transform: capitalize;
  }

  &__form {
    &-item {
      margin-bottom: 1.7em;
    }
  }

  &__btn-login {
    display: inline-block;
    vertical-align: middle;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3em 0 0;
  }
}
