@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.button {
  display: inline-block;
  border-radius: 4px;
  box-shadow: none;
  transition: color $base-duration $base-timing, background-color $base-duration $base-timing;


  &:focus{
    box-shadow: none !important;
    outline: none !important;
  }

  &:hover {
    text-decoration: none;
  }

  & > span {
    transform: translate(0, 0);
  }

  &--green {
    border: 2px solid transparent;
    background-color: $color-green-acapulco;
    color: $color-white;

    &:hover,
    &:focus {
      background-color: $color-white;
      border-color: $color-green-acapulco;
      color: $color-green-acapulco;
    }
  }

  &--green-default {
    background-color: $color-white;
    border: 2px solid $color-green-acapulco;
    border-radius: 4px;
    color: $color-green-acapulco;
    @include font-size--e;

    &:hover {
      background-color: $color-green-acapulco;
      color: $color-white;
    }
  }

  &--white {
    background-color: transparent;
    border: 1px solid $color-white;
    color: $color-white;

    &:hover,
    &:focus {
      background-color: $color-white;
      color: $color-green-acapulco;
    }
  }

  &--transparent {
    background-color: transparent;
    border-radius: 0;
    border: 0;
    padding: 0;
  }

  &--circle {
    border-radius: 50%;
  }

  &--add,
  &--submit {
    padding: 8px 15px;

    color: $color-white;
    border-radius: 3px;

    &:hover {
      color: $color-white;

    }
  }

  &--add {
    margin: 0 0 30px;
  }

  &--add-card {
    display: block;
    padding: 17px 21px;
    width: 100%;

    @include breakpoint ('phone') {
      padding: 46px 55px 48px 55px;
    }
  }

  &--submit {
    float: right;
  }

  &--menu {
    padding: 27px 15px 30px;
    transition: color $base-duration $base-timing;

    @include breakpoint ('phone-max') {
      padding-left: 0;
    }

    &:hover {
      opacity: 0.9;
    }
  }

  &--card {
    font-size: 20px;
    height: 60px;
    width: 60px;
    margin-bottom: 12px;
    text-align: center;
  }

  &--cancel {
    padding: 12px 25px 10px;
  }

  &--save {
    padding: 10px 31px 9px 32px;
  }

  &--select {
    padding: 11px 27px;
  }

  &--dropdown-user {
    padding: 18px 0 17px 0;
  }

  &--radio {
    border: 2px solid transparent;
    background-color: $color-green-acapulco;
    color: $color-white;

    &.active {
      background-color: $color-white;
      border-color: $color-green-acapulco;
      color: $color-green-acapulco;
    }
  }

  &--sign-up,
  &--sign-in {
    padding: 9px 12px;
    width: 100%;
  }
}


