@mixin breakpoint($breakpoint) {
  @if $breakpoint == "phone" {
    @media (max-width: $screen-xs) {
      @content;
    }
  }

  @else if $breakpoint == "phone-portrait" {
    @media only screen and (max-width: $screen-xs) and (orientation: portrait) {
      @content;
    }
  }

  @else if $breakpoint == "phone-landscape" {
    @media only screen and (max-width: $screen-xs) and (orientation: landscape) {
      @content;
    }
  }

  @else if $breakpoint == "phone-max" {
    @media (max-width: $screen-xs-max) {
      @content;
    }
  }

  @else if $breakpoint == "phone-max-portrait" {
    @media only screen and (max-width: $screen-xs-max) and (orientation: portrait) {
      @content;
    }
  }

  @else if $breakpoint == "phone-max-landscape" {
    @media only screen and (max-width: $screen-xs-max) and (orientation: landscape) {
      @content;
    }
  }

  @else if $breakpoint == "phone-phone-max" {
    @media (min-width: $screen-xs) and (max-width: $screen-xs-max) {
      @content;
    }
  }

  @else if $breakpoint == "phone-phone-max-portrait" {
    @media only screen and (min-width: $screen-xs) and (max-width: $screen-xs-max) and (orientation: portrait) {
      @content;
    }
  }

  @else if $breakpoint == "phone-phone-max-landscape" {
    @media only screen and (min-width: $screen-xs) and (max-width: $screen-xs-max) and (orientation: landscape) {
      @content;
    }
  }

  @else if $breakpoint == "tablet-min" {
    @media (min-width: $screen-sm-min) {
      @content;
    }
  }

  @else if $breakpoint == "tablet-portrait-custom" {
    @media (min-width: 767px) and (max-width: 992px) {
      @content;
    }
  }

  @else if $breakpoint == "tablet-landscape-custom" {
    @media (min-width: 992px) and (max-width: 1024px) {
      @content;
    }
  }

  @else if $breakpoint == "tablet" {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      @content;
    }
  }

  @else if $breakpoint == "tablet-portrait" {
    @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) and (orientation: portrait) {
      @content;
    }
  }

  @else if $breakpoint == "tablet-landscape" {
    @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) and (orientation: landscape) {
      @content;
    }
  }

  @else if $breakpoint == "tablet-max" {
    @media (max-width: $screen-sm-max) {
      @content;
    }
  }

  @else if $breakpoint == "tablet-desktop" {
    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
      @content;
    }
  }

  @else if $breakpoint == "large" {
    @media (min-width: 1200px) {
      @content;
    }
  }

  @else if $breakpoint == "retina-display" {
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2),only screen and (-o-min-device-pixel-ratio: 2/1) {
      @content;
    }
  }
}
